# Brapi API Token
BRAPI_TOKEN=your_token_here

# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/afc_local
DB_USERNAME=afc
DB_PASSWORD=afc

# App Configuration
PORT=8080
SPRING_PROFILES_ACTIVE=local
